body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.scroll-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 карточки в ряд */
    gap: 10px; /* Интервал между карточками */
    overflow-y: auto; /* Вертикальный скролл */
    max-height: 600px; /* Максимальная высота контейнера для скролла */
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 20px;
}

.card {
    background-color: #fffefe;
    border: 2px solid #d4a3a3;
    height: 300px;
    width: 300px;;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Центрирование текста */
}

.card-image {
    max-width: 100%; /* Адаптивное изображение */
    border-radius: 10px; /* Закругление изображения */
    height: auto; /* Сохранение пропорций */
}

h3 {
    font-size: 1.5em; /* Увеличенный размер заголовка */
    margin: 10px 0; /* Отступы */
}

p {
    font-size: 1em; /* Размер шрифта для описания */
    color: #555; /* Цвет описания */
    margin: 10px 0; /* Отступы */
}

.buy-button {
    background-color: #28a745; /* Зеленый цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругление кнопки */
    padding: 10px 15px; /* Отступы внутри кнопки */
    cursor: pointer; /* Указатель при наведении */
    font-size: 1em; /* Размер шрифта кнопки */
}

.buy-button:hover {
    background-color: #218838; /* Темнее при наведении */
}